/*CSS Reset*/
@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Poppins', sans-serif !important;}

/* =============================
  Custom classes and variables 
  ============================ */

h1,h2,h3,h4,h5,h6, p {
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary: #111;
}

body.loading {
  overflow-y: hidden;
}

.container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0px 12px;
}

.grid {
  height: 100%;
  min-height: 100vh;
  background-color: transparent;
  background-size: 14.23% 100%;
  background-repeat: repeat-x;
  background-image: linear-gradient(to right, #222 1px, transparent 1px);
  background-position: 50%;
}

.flex {
  display: flex;
}

.hide-scroll {
  overflow: hidden;
}

main {
  padding: 150px 0px;
}
/* ======= COMPONENTS ====== */

/* Loading
-----------------------------*/
#loader {
  height: 100vh;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  width: 100%;
  overflow: hidden;
}
#loader img {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 100%;
}
#loader p{
  padding-top: 8px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: clamp(1rem, 2vw, 30rem);
  letter-spacing: 2vw;
  color: #fff;
  text-align: center;
}

/* Header
-----------------------------*/
#main-header {
  position: fixed;
  display: flex;
  width: 100%;
  border-bottom: solid 1px #333;
  top: -100%;
  background: rgba( 17, 17, 17, 0.1 );
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 3.5px );
  z-index: 100000;
}
#main-header.loaded {
  animation-name: dropdown;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
@keyframes dropdown {
  from {top: -100%;}
  to { top: -0.05%; }
}
#main-header .menu-wrapper {
  display: flex;
  align-items: center;
}
#main-header .container { 
  display: flex; 
  align-items: center;
  padding: 12px 14px;
  justify-content: space-between
}
#main-header #hamburger {
  height: 20px;
  width: 25px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#main-header #hamburger span {
  width: 100%;
  transition: 0.3s;
  height: 2px;
  background-color: #fff;
  transform-origin: left;
}
#main-header #hamburger span:nth-child(2) { width: 75%; transform-origin: right; }
#main-header #hamburger span:nth-child(3) { width: 25%; }

/* Nav-wrapper */
#nav-wrapper {
  height: 100%;
  position: fixed;
  width: 100%;
  overflow: hidden;
  display: flex;
  background-color: #000;
  z-index: 1000;
  align-items: center;
}
#nav-wrapper a {
  filter: grayscale(100);
  transition: 0.3s;
  background-position: center;
}
#nav-wrapper a:hover {
  filter: grayscale(0);
  transition: 0.3s;
}
#motion-component {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}

/* Hamburger is active */
#main-header #hamburger.active span:nth-child(1) { transform: rotate(45deg); }
#main-header #hamburger.active span:nth-child(2) {
  transition: 0.5s;
  width: 0%;
  transform-origin: right;
}
#main-header #hamburger.active span:nth-child(3) {
  transform: rotate(-45deg);
  transform-origin: left;
  width: 100%;
}
#main-header .container .home-link a {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 5px;
  color: #fff;
  width: 100%;
  max-width: 150px;
  text-decoration: none;
  user-select: none;
}
#main-header .container .home-link a span { padding-top: 5px; }

/* Footer
-----------------------------*/

footer {
  display: flex;
  width: 100%;
  border-top: solid 1px #333;
  background: rgba( 17, 17, 17, 1);
  backdrop-filter: blur( 3.5px );
  -webkit-backdrop-filter: blur( 3.5px );
  z-index: 1000;
  font-family: 'Poppins', sans-serif;
}
footer .container { padding: 7px;}
footer .container > p {
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: space-between;
  font-size: clamp(0.6rem, 1vw, 5rem);
  padding: 12px 0px;
}
footer .container > p span {
  letter-spacing: 1vw;
}
footer ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
footer ul a,
footer ul li button {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  line-height: 1.4em;
  background: transparent;
  border: none;
  cursor: pointer;
}
footer ul li { margin: 0px 5px; }

/* ========= PAGES ========= */

/* Homepage
-----------------------------*/
#homepage {
  background-color: var(--primary);
  min-height: 100vh;
}
#homepage section {
  max-height: 100vh;
  min-height: 768px;
  height: 100%;
}
#homepage #landing {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
  position: relative;
  height: 100vh;
}
#homepage #landing h1 {
  font-size: clamp(3rem, 6vw, 6rem);
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  line-height: 0.9em;
}
#homepage #landing p {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}
#homepage #landing::after {
  display: block;
  content: "SCROLL DOWN";
  font-family: 'Poppins', sans-serif;
  position: absolute;
  bottom: 120px;
  left: -100px;
  height: 1px;
  background-color: #fff;
  width: 200px;
  text-align: right;
  transform: rotate(-90deg);
}
#homepage #landing::before {
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  position: absolute;
  bottom: 15px;
  left: -5px;
}
#homepage #landing #main-title {
  display: flex;
}
#homepage #landing #about-landing {
  width: 100%;
  position: absolute;
  right: 0;
  max-width: 490px;
  bottom: 10%;
  z-index: 1;
  padding-left: 30px; 
}
#homepage #landing #topscreenPic {
  background-image: url(./assets//images/TopScreenPic.jpg);
  mix-blend-mode: hard-light;
  backface-visibility: visible;
  -moz-backface-visibility: visible;
  -webkit-backface-visibility: visible;
  z-index: 0;
  width: 100%;
  max-width: 512px;
  background-size: contain;
  background-repeat: no-repeat;
  left: 0;
  background-position: center;
  margin: 50px;
}
#featured-exhibits {
  height: 100%;
  max-height: unset !important;
  min-height: 768px;
  display: flex;
  align-items: center;
  margin-top: 100px;
  justify-content: center;
}
#featured-exhibits .wrapper {
  width: 100%;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
#featured-exhibits .wrapper .flex {
  position: relative;
}
#featured-exhibits .wrapper .title::before {
  display: block;
  content: "";
  width: 2px;
  background: #fff;
  margin-right: 10px;
}
#featured-exhibits .wrapper .title::after{
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  position: absolute;
  bottom: -5px;
  left: -4px;
}
#featured-exhibits .wrapper h1 {
  font-size: clamp(2em, 6vw, 4rem);
  font-weight: 700;
  line-height: 1em;
}
#featured-exhibits .title p {
  width: 100%;
  max-width: 170px;
  margin-left: 24px;
  font-size: 14px;
}
#featured-exhibits .wrapper #banner-wrapper {
  display: flex;
  margin: 50px 0px;
  position: relative;
  flex-direction: column;
}
#featured-exhibits .wrapper #banner-wrapper .banner{
  text-decoration: none;
  display: flex;
  height: 500px;
  width: 100%;
  /* background: #fff; todo */
  position: relative;
  margin: 100px 0px;
  color: #fff;
}

#featured-exhibits .wrapper #banner-wrapper .banner a{
  display: flex;
  height: 500px;
  width: 100%;
  max-width: 788px;
}
#featured-exhibits .wrapper #banner-wrapper .banner .banner-bg {
  height: 100%;
  width: 100%;
  max-width: 788px;
  position: absolute !important;
  mix-blend-mode: exclusion;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
#featured-exhibits #banner-wrapper .banner .banner-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
} 
#featured-exhibits #banner-wrapper .banner h1 {
  top: 0;
  right: 0;
  position: absolute;
  width: 100%;
  max-width: 483px;
}
#featured-exhibits #banner-wrapper .banner:nth-child(even) h1 {
  right: unset;
  left: 0;
}
#featured-exhibits #banner-wrapper .banner:nth-child(even) .banner-details {
  left: unset;
  right: 0;
}
#featured-exhibits #banner-wrapper .banner .banner-details {
  font-size: 14px;
  font-weight: 300;
  width: 100%;
  max-width: 433px;
  position: absolute;
  left: 0;
  bottom: 0;
}
#featured-exhibits #banner-wrapper .banner .banner-details .banner-date {
  display: flex;
  align-items: center;
  flex: 1;
}
#featured-exhibits #banner-wrapper .banner .banner-details .banner-date::before {
  content: '';
  display: block;
  height: 1px;
  background-color: #ffff;
  flex: 1;
  margin-right: 10px;
}
#featured-exhibits #banner-wrapper .banner {
  flex-direction: column-reverse
}

/* 404 NOT FOUND
-----------------------------*/
#not-found { background-color: #111; height: 100vh; }
#not-found .container { 
  display: flex;
  height: inherit;
  align-items: center;
  justify-content: center;
}
.glitch {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 900;
	color: white;
  font-size: clamp(1rem, 25vw, 12rem);
	animation: glitch 2s steps(100) infinite;
  line-height: 1em;
}
#not-found .container div {
  text-align: center;
  color: #fff;
}
#not-found .container div p {
  font-size: 12px;
  font-weight: 300;
  padding: 32px 0px;
}
#not-found .container div a {
  color: #fff;
  height: 50px;
  padding: 0px 24px;
  text-decoration: none;
  background: #333;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: 'Nunito Sans', sans-serif;
}


/* Exhibits
-----------------------------*/

/* Taft Home */
#taft #landing {
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#taft #landing .quote p {
  text-align: center;
  font-style: italic
}
#taft.home h1{
  text-align: center;
  font-size: clamp(1rem, 2vw, 3rem)
}
#taft.home { background-color: #D4BC8B; }
#taft.home #second p {
  padding: 12px 0px;
  font-weight: 300;
  text-align: center;
}
#taft.home #second > .wrapper {
  width: 100%;
  max-width: 566px;
  margin: 0 auto;
}
#taft.home #second > .wrapper a {
  color: #000;
  display: block;
  margin: 10px 0px;
}
#taft.home .quote {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
} 
#taft.home #exhibits {
  display: flex;
  justify-content: center;
}

/* Taft Briefing */
#taft.briefing {
  background-color: #D4BC8B;
}

#taft.briefing .container {
  width: 70%
}

#taft.briefing h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  text-align: center;
  margin-bottom: 80px;
}

#taft.briefing p {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  margin-bottom: 50px;
}

#taft.briefing p.quote {
  text-align: center;
  margin-bottom: 50px;
}

#taft.briefing p.author {
  text-align: right;
  margin-bottom: 50px;
}

/* GLITCH EFFECT */
@keyframes glitch {
  0% {text-shadow: 1px 0 0 red, -1px 0 0 blue;}
  4% {text-shadow: 1px 0 0 red, -1px 0 0 blue;}
  5% {text-shadow: -1px 0 0 red, 1px 0 0 blue;}
  10% {text-shadow: -1px 0 0 red, 1px 0 0 blue;}
  11% {text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;}
  15% {text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;}
  16% {text-shadow: -1px 0 0 red, 1px 0 0 lime;}
  20% {text-shadow: -1px 0 0 red, 1px 0 0 lime;}
  21% {text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;}
  30% {text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;}
  31% {text-shadow: -1px 0 0 blue, 1px 0 0 lime;}
  40% {text-shadow: -1px 0 0 blue, 1px 0 0 lime;}
  41% {text-shadow: 50px 0 0 blue, -50px 0 0 lime;}
  42% {text-shadow: 0 0 0 blue, 0 0 0 lime;}
  43% {text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;}
  46% {text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;}
  47% {text-shadow: -1px 0 0 red, 1px 0 0 lime;}
  50% {text-shadow: -1px 0 0 red, 1px 0 0 lime;}
  51% {text-shadow: 1px 0 0 red, -1px 0 0 blue;}
  55% {text-shadow: 1px 0 0 red, -1px 0 0 blue;}
  56% {text-shadow: -1px 0 0 red, 1px 0 0 blue;}
  60% {text-shadow: -1px 0 0 red, 1px 0 0 blue;}
  61% {text-shadow: 30px 0 0 red, -30px 0 0 lime;}
  62% {text-shadow: 0 0 0 red, 0 0 0 lime;}
  63% {text-shadow: 0.5px 0 0 red, -0.5px 0 0 blue;}
  66% {text-shadow: 0.5px 0 0 red, -0.5px 0 0 blue;}
  67% {text-shadow: -1px 0 0 red, 1px 0 0 blue;}
  70% {text-shadow: -1px 0 0 red, 1px 0 0 blue;}
  71% {text-shadow: 70px 0 0 red, -70px 0 0 blue;}
  72% {text-shadow: 0 0 0 red, 0 0 0 blue;}
  73% {text-shadow: 1px 0 0 red, -1px 0 0 blue;}
  76% {text-shadow: 1px 0 0 red, -1px 0 0 blue;}
  77% {text-shadow: -1px 0 0 red, 1px 0 0 blue;}
  80% {text-shadow: -1px 0 0 red, 1px 0 0 blue;}
  81% {text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;}
  85% {text-shadow: 0.5px 0 0 red, -0.5px 0 0 lime;}
  86% {text-shadow: -1px 0 0 red, 1px 0 0 lime;}
  90% {text-shadow: -1px 0 0 red, 1px 0 0 lime;}
  91% {text-shadow: 60px 0 0 lime, -60px 0 0 blue;}
  92% {text-shadow: 0 0 0 lime, 0 0 0 blue;}
  92% {text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;}
  95% {text-shadow: 0.7px 0 0 blue, -0.7px 0 0 lime;}
  96% {text-shadow: -1px 0 0 blue, 1px 0 0 lime;}
  99% {text-shadow: -1px 0 0 blue, 1px 0 0 lime;}
  100% {text-shadow: -1px 0 0 blue, 1px 0 0 lime;}
}

/* ======= MEDIA QUERIES ====== */ 
@media only screen and (max-width: 812px) {
  .grid {
    background-size: 25% 100%;
  }
  #featured-exhibits #banner-wrapper .banner h1,
  #featured-exhibits #banner-wrapper .banner .banner-details,
  #featured-exhibits #banner-wrapper .banner .banner-content,
  #featured-exhibits .wrapper #banner-wrapper .banner .banner-bg {
    position: relative !important;
    flex-direction: column;
    justify-content: flex-start;
    max-width: unset;
    padding: 10px 0px;
  }

  #taft.briefing .container {
    width: 100%
  }
}